/data/Data_Uni_Molde_V1.csv
/img_routes/Date_unique.png
/img_routes/day_groups_len.png
/img_routes/deliver_frequency.png
/img_routes/driverDayId.png
/img_routes/drivers.png
/img_routes/drivers_unique.png
/.idea/misc.xml
/.idea/modules.xml
/img_routes/pickups.png
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/RealDataClassificator.iml
/data/routes.csv
/data/uni_molde_v2.csv
/.idea/vcs.xml
